$icon-font-path: "../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

// @import "/fonts/artifika/style.css";
// @import "/fonts/quadranta/style.css";
// @import "/fonts/redressed/style.css";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@font-face {
    font-family: 'redressedregular';
    src: url('../../fonts/redressed/redressed-webfont.eot');
    src: url('../../fonts/redressed/redressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/redressed/redressed-webfont.woff2') format('woff2'),
         url('../../fonts/redressed/redressed-webfont.woff') format('woff'),
         url('../../fonts/redressed/redressed-webfont.ttf') format('truetype'),
         url('../../fonts/redressed/redressed-webfont.svg#redressedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'artifikamedium';
    src: url('../../fonts/artifika/artifika-regular-webfont.eot');
    src: url('../../fonts/artifika/artifika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/artifika/artifika-regular-webfont.woff2') format('woff2'),
         url('../../fonts/artifika/artifika-regular-webfont.woff') format('woff'),
         url('../../fonts/artifika/artifika-regular-webfont.ttf') format('truetype'),
         url('../../fonts/artifika/artifika-regular-webfont.svg#artifikamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quadrantaregular';
    src: url('../../fonts/quadranta/quadranta-regular-webfont.eot');
    src: url('../../fonts/quadranta/quadranta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/quadranta/quadranta-regular-webfont.woff2') format('woff2'),
         url('../../fonts/quadranta/quadranta-regular-webfont.woff') format('woff'),
         url('../../fonts/quadranta/quadranta-regular-webfont.ttf') format('truetype'),
         url('../../fonts/quadranta/quadranta-regular-webfont.svg#quadrantaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quadrantabold';
    src: url('../../fonts/quadranta/quadranta-bold-webfont.eot');
    src: url('../../fonts/quadranta/quadranta-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/quadranta/quadranta-bold-webfont.woff2') format('woff2'),
         url('../../fonts/quadranta/quadranta-bold-webfont.woff') format('woff'),
         url('../../fonts/quadranta/quadranta-bold-webfont.ttf') format('truetype'),
         url('../../fonts/quadranta/quadranta-bold-webfont.svg#quadrantabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


// fonts
$font-sans-serif : 'quadrantabold', Helvetica, Arial, sans-serif;
$font-manuscript : 'redressedregular', Georgia, serif;
$font-serif : 'artifikamedium', Times, serif;

// colors
$blue1 : #5599FF;
$blue2 : #AACCFF;
$blue3 : #D5E5FF;

$grey1 : #4A4A4A;

$white1 : #F9F9F9;
$black1 : #0A0A0A;
$black2 : #1F1F1F;

body, html {
	background-color: $white1;
}

* {
	font-family: $font-serif;
}

.mp-blue1 {
	background-color: $blue1;
}
.mp-blue2 {
	background-color: $blue2;
}
.mp-blue3 {
	background-color: $blue3;
}

.mp-black-font {
	color: $black1 !important;
}
.mp-white-font {
	color: $white1 !important;
}

.mp-black-background {
	background-color: $black1 !important;
}
.mp-white-background {
	background-color: $white1 !important;
}

.mp-wrapper {
	background-color: $white1 !important;
}

.mp-home-concept, .mp-home-realisation, .mp-home-register {
	background-color: $white1 !important;
}

.mp-home-icon-container, .mp-home-criteria {
	
	background-image: url('../../images/assets/pattern/vertical_cloth.png');
	-webkit-box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.5);
			box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.5);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-serif !important;
}

.mp-main-header {
	color: $grey1;

	.mp-main-header-logo {
		font-family: $font-sans-serif;
		h1 a:hover {
			text-decoration: none;
			color: $blue1
		}
	}

	.mp-secondary-nav {
		background-color: $white1;
		background-color: rgba(250,250,250, 0.95);
		-webkit-box-shadow: 0 2px 10px 5px rgba(85,153,255,0.5);
				box-shadow: 0 2px 10px 5px rgba(85,153,255,0.5);

		ul.nav > li > a:focus, ul.nav > li > a:hover {
			background-color: $black2 !important;
			color: $blue2 !important;
			-webkit-transition: all 0.25s linear !important;
			   -moz-transition: all 0.25s linear !important;
			    -ms-transition: all 0.25s linear !important;
			     -o-transition: all 0.25s linear !important;
			        transition: all 0.25s linear !important;
		}

		ul.nav > li.active > a {
			background-color: $black1 !important;
			color: $blue2 !important;
			-webkit-transition: all 0.25s linear !important;
			   -moz-transition: all 0.25s linear !important;
			    -ms-transition: all 0.25s linear !important;
			     -o-transition: all 0.25s linear !important;
			        transition: all 0.25s linear !important;
		}
	}
}

.mp-carousel-title {
	font-size: 5em;
	font-family: $font-manuscript !important;
	color: $white1 !important;
	text-shadow: 1px 0px 1px $black1;
}

.carousel-caption h2 {
	text-shadow: 1px 0px 1px $blue1;
}


figcaption.mp-flip-back {
	margin-top : -170px;
}

.mp-flip-front {
	opacity: 1;
	-webkit-transition: all 0.9s ease;
	   -moz-transition: all 0.9s ease;
	    -ms-transition: all 0.9s ease;
	     -o-transition: all 0.9s ease;
	        transition: all 0.9s ease;
}

.mp-flip-back {
	opacity: 0;
	-webkit-transition: all 0.9s ease;
	   -moz-transition: all 0.9s ease;
	    -ms-transition: all 0.9s ease;
	     -o-transition: all 0.9s ease;
	        transition: all 0.9s ease;
}

.mp-flipper:hover .mp-flip-back {
	opacity: 1;
	-webkit-transition: all 0.9s ease;
	   -moz-transition: all 0.9s ease;
	    -ms-transition: all 0.9s ease;
	     -o-transition: all 0.9s ease;
	        transition: all 0.9s ease;
}

.mp-flipper:hover .mp-flip-front{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:1;
    transform:  rotateY(0deg) ;
  }
  100% {
    opacity:0;
    transform:  rotateY(180deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:1;
    -moz-transform:  rotateY(0deg) ;
  }
  100% {
    opacity:0;
    -moz-transform:  rotateY(180deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:1;
    -webkit-transform:  rotateY(0deg) ;
  }
  100% {
    opacity:0;
    -webkit-transform:  rotateY(180deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:1;
    -o-transform:  rotateY(0deg) ;
  }
  100% {
    opacity:0;
    -o-transform:  rotateY(180deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:1;
    -ms-transform:  rotateY(0deg) ;
  }
  100% {
    opacity:0;
    -ms-transform:  rotateY(180deg) ;
  }
}

/* Responsive: Portrait tablets */
// @media screen and (min-width: 1200px) {

// }

// /* Responsive: Landscape tablets and small pc screen*/
// @media screen and (min-width: 992px) and (max-width : 1199px){

// }

// /* Responsive: Portrait tablets */
// @media screen and (min-width: 768px) and (max-width: 991px) {

// }

// /* Responsive: Smartphone */
// @media screen and (max-width: 767px) {

// }