$icon-font-path: "../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


// fonts
$font-sans-serif : 'quadrantabold', Helvetica, Arial, sans-serif;
$font-manuscript : 'redressedregular', Georgia, serif;
$font-serif : 'artifikamedium', Times, serif;

// colors
$blue1 : #5599FF;
$blue2 : #AACCFF;
$blue3 : #D5E5FF;

$grey1 : #4A4A4A;

$white1 : #F9F9F9;
$black1 : #0A0A0A;

* {
	font-family: $font-serif;
}

.mp-blue1 {
	background-color: $blue1;
}
.mp-blue2 {
	background-color: $blue2;
}
.mp-blue3 {
	background-color: $blue3;
}

.mp-black-font {
	color: $black1 !important;
}
.mp-white-font {
	color: $white1 !important;
}

.mp-black-background {
	background-color: $black1 !important;
}
.mp-white-background {
	background-color: $white1 !important;
}

.mp-wrapper {
	background-color: $white1 !important;
}

.mp-home-concept, .mp-home-realisation, .mp-home-register {
	background-color: $white1 !important;
}

.mp-home-icon-container {
	
	background-image: url('../../images/assets/pattern/vertical_cloth.png');
	-webkit-box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.5);
			box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.5);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-serif !important;
}

.mp-main-header {
	color: $grey1;

	.mp-main-header-logo {
		font-family: $font-sans-serif;
	}
}

.mp-carousel-title {
	font-size: 5em;
	font-family: $font-manuscript !important;
	color: $white1 !important;
	text-shadow: 1px 0px 1px $black1;
}


// /* entire container, keeps perspective */
// .mp-flip-container {
// 	perspective: 1000;
// }
// /* flip the pane when hovered */
// .mp-flip-container .mp-flipper:hover, .mp-flip-container.hover .mp-flipper {
// 	transform: rotateY(180deg);
// }

// /* flip speed goes here */
// .mp-flipper {
// 	transition: 0.6s;
// 	transform-style: preserve-3d;

// 	position: relative;
// }

// /* hide back of pane during swap */
// .mp-front, .mp-back {
// 	backface-visibility: hidden;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

// .mp-front {
// 	z-index: 2;
// 	/* for firefox 31 */
// 	transform: rotateY(0deg);
// }

// .mp-back {
// 	transform: rotateY(180deg);
// }


