// Image licensing
.mp-image-license-white, .mp-image-license-black {
  position: relative;
  top: -20px;
  right: 0;
}

.mp-image-license-white a{
  color: #fff;
}

.mp-image-license-black a{
  color: #000;
}


/* Responsive: Landscape tablets and pc screen*/
@media screen and (min-width: 961px) {
  .mp-container {
    max-width: 960px;
  }

  .mp-main-header {
    margin: 0 0 10px 0;
  }

  .mp-home-register {
    position: relative;
    bottom: 450px;
    left: 45%;
  }

}

/* Responsive: Portrait tablets */
@media screen and (min-width: 768px) and (max-width: 960px) {
  .mp-container {
    max-width: 730px;
  }

  .mp-home-register {
    position: relative;
    bottom: 450px;
    left: 45%;
  }


}
