// Image licensing
.mp-image-license-white, .mp-image-license-black {
  position: relative;
  top: -30px;
  right: 0;
}

.mp-image-license-white a{
  color: #fff;
}

.mp-image-license-black a{
  color: #000;
}

@media screen and (min-width: 1200px) {
  .mp-container {
    max-width: 960px;
  }

  .mp-main-header {
    margin: 0 0 10px 0;

    .mp-main-header-logo{
      margin-right: 40px;
    }

    .mp-main-nav {
      margin: 0;
    }
  }

  .mp-home-register-action {
    position: relative;
    bottom: 745px;
    width: 500px;
  }

  .mp-home-quote {
    position: relative;
    bottom: 150px;
  }

  .mp-main-footer {
    position: relative;
    bottom: 150px;
  }

}

/* Responsive: Landscape tablets and small pc screen*/
@media screen and (min-width: 992px) and (max-width : 1199px){


  .mp-container {
    max-width: 960px;
  }

  .mp-main-header {
    margin: 0 0 10px 0;

    .mp-main-header-logo{
      margin-right: 40px;
    }
  }

  .mp-home-register-action {
    position: relative;
    bottom: 570px;
    width: 500px;
  }

}

/* Responsive: Portrait tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mp-container {
    max-width: 730px;
  }

  .mp-main-header {
    margin: 0 0 10px 0;

    .mp-main-header-logo{
      margin-right: 40px;
    }
  }

  .mp-home-register-action {
    position: relative;
    bottom: 410px;
    width: 480px;
  }


}

/* Responsive: Smartphone */
@media screen and (max-width: 767px) {
  

  .mp-main-header {
    margin: 0 0 10px 0;

    .mp-main-header-logo{
      margin-right: 40px;
    }
  }

  .mp-home-register-action {
    position: relative;
    bottom: 350px;
    width: 480px;
  }

}