.mp-wrapper {
	overflow: hidden;
}

/* Responsive: Portrait tablets */
@media screen and (min-width: 1200px) {
	body {
		font-size: 14px !important;
	}
}

/* Responsive: Landscape tablets and small pc screen*/
@media screen and (min-width: 992px) and (max-width : 1199px){
	body {
		font-size: 15px !important;
	}
}

/* Responsive: Portrait tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 16px !important;
	}
}

/* Responsive: Smartphone */
@media screen and (max-width: 767px) {
	body {
		font-size: 22px !important;
	}
}
