/* Carousel using BS3 */

.mp-carousel {
	max-width: 100%;
}

.mp-carousel-title {
	position: absolute;
	top: 10%;
	left: 45%;
	margin-right: 15px;

	font-size: 5em !important;
	color: #ffffff !important;
	text-shadow: 1px 0px 1px #000000;
}

.mp-carousel-image {
	position: relative;
	width: 100%;
}

/* Responsive: Portrait tablets */
@media screen and (min-width: 1200px) {
	.mp-carousel-title {
		top: 10%;
		left: 45%;
		margin-right: 15px;
		font-size: 5em !important;
	}
}

/* Responsive: Landscape tablets and small pc screen*/
@media screen and (min-width: 992px) and (max-width : 1199px){
	.mp-carousel-title {
		top: 10%;
		left: 45%;
		margin-right: 15px;
		font-size: 4em !important;
	}
}

/* Responsive: Portrait tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.mp-carousel-title {
		top: 10%;
		left: 45%;
		margin-right: 15px;
		font-size: 3em !important;
	}
}

/* Responsive: Smartphone */
@media screen and (max-width: 767px) {
	.mp-carousel-title {
		top: 10%;
		left: 45%;
		margin-right: 15px;
		font-size: 2.5em !important;
	}
}