<div class="fluid-container" autostart-carousel>
	<div id="mp-main-carousel" class="carousel slide vert-offset-top-0" data-ride="carousel" data-interval="3000">

		<!-- Indicators -->
		<ol class="carousel-indicators">
		<li data-target="#mp-main-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#mp-main-carousel" data-slide-to="1"></li>
		<li data-target="#mp-main-carousel" data-slide-to="2"></li>
		<li data-target="#mp-main-carousel" data-slide-to="3"></li>
		<li data-target="#mp-main-carousel" data-slide-to="4"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">

			<div class="item active">
				<figure class="mp-carousel-figure active">
					<img class="mp-carousel-image active" src="images/assets/gallery/bali-237205_1920.jpg" alt="Bali">
					<figcaption class="carousel-caption">
						<h2>Une balade en moto</h2>
					</figcaption>
				</figure>
			</div>
			<div class="item">
				<figure class="mp-carousel-figure">
					<img class="mp-carousel-image" src="images/assets/gallery/oia-416136_1920.jpg" alt="Oia Santorini">
					<figcaption class="carousel-caption">
						<h2>Des vacances en Grèce</h2>
					</figcaption>
				</figure>
			</div>
			<div class="item">
				<figure class="mp-carousel-figure">
					<img class="mp-carousel-image" src="images/assets/gallery/railroad-tracks-480466_1920.jpg" alt="Railroad">
					<figcaption class="carousel-caption">
						<h2>Un petit tour en forêt</h2>
					</figcaption>
				</figure>
			</div>
			<div class="item">
				<figure class="mp-carousel-figure">
					<img class="mp-carousel-image" src="images/assets/gallery/cuba-414155_1920.jpg" alt="La Havana">
					<figcaption class="carousel-caption">
						<h2>Un jour à la Havana</h2>
					</figcaption>
				</figure>
			</div>
			<div class="item">
				<figure class="mp-carousel-figure">
					<img class="mp-carousel-image" src="images/assets/gallery/jardindesplantesparis_1920.jpg" alt="Jardin_des_plantes">
					<figcaption class="carousel-caption">
						<h2>Une après-midi au Jardin des Plantes</h2>
					</figcaption>
				</figure>
			</div>

			<h2 class="mp-carousel-title h1 text-center">Racontons nos voyages !</h2>
		</div>

		<!-- Controls -->
		<div class="mp-carousel-controls-container">
			<a class="left carousel-control" data-target="#mp-main-carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" data-target="#mp-main-carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>