<div id="menu" class="container mp-container mp-main-header">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<header class="mp-ui header" ng-controller="NavigationCtrl">
			
			<!-- Main navigation through pages application-->
			<nav class="mp-main-nav navbar navbar-primary" role="navigation">
				<ul class="nav navbar-nav nav-pills pull-right vert-offset-top-1">
					<li ng-class="{ active: isActive('/')}"><a ng-href="#/">Accueil</a></li>
					<li ng-class="{ active: isActive('/voyages')}"><a ng-href="#/voyages">Voyages</a></li>
					<li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">A propos</a></li>
				</ul>
				<img class="mp-main-header-logo pull-left vert-offset-top-1 hidden-xs" src="images/assets/logo/marcopolo_60.png" class="img-responsive" alt="Logo">
				<h1 class="mp-main-header-title text-muted"><a ng-href="#/">Marcopolo</a></h1>
			</nav>

			<!-- Navigation on the home page only : scrolling nav landing page style -->
			<nav class="mp-secondary-nav navbar  navbar-fixed-bottom hidden-xs" role="navigation">
				<ul class="nav navbar-nav" role="tablist">
					<li class="active">
						<a href="#menu" du-smooth-scroll>Menu</a>
					</li>
					<li>
						<a href="#concept" du-smooth-scroll>L'idée de départ</a>
					</li>
					<li>
						<a href="#realisation" du-smooth-scroll>Le chemin à faire</a>
					</li>
					<li>
						<a href="#register" du-smooth-scroll>Prenez votre sac !</a>
					</li>
				</ul>
			</nav>

		</header>
	</div>	
</div>