.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets */
// @media screen and (min-width: 1200px) {

// }

// /* Responsive: Landscape tablets and small pc screen*/
// @media screen and (min-width: 992px) and (max-width : 1199px){

// }

// /* Responsive: Portrait tablets */
// @media screen and (min-width: 768px) and (max-width: 991px) {

// }

// /* Responsive: Smartphone */
// @media screen and (max-width: 767px) {

// }