
<div>
	
	<div ng-include="'views/partials/carousel.html'"></div>

	<div id="concept" class="mp-home-concept mp-section fluid-container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="mp-block-text vert-offset-top-1 vert-offset-bottom-1 text-center block-center">
					<h3 class="invisible">Voyager et raconter</h3>
					<span class="h3">Un voyageur dort en nous ...</span>
					<p class="vert-offset-top-2">
						<strong>Marco Polo</strong> était un marchand Vénitien, qui a rapporté dans son <em>Livre des Merveilles</em>,
						l'histoire de son périple en Asie.
						Chacun de nous est un <strong>Marco Polo</strong>, il suffit de raconter son voyage.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="mp-home-icon-container fluid-container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vert-offset-bottom-2 block-center text-center">
				<h3 class="invisible">Créer son voyage</h3>
				<span class="h3 mp-white-font ">Le secret : 3 ingrédients !</span>
			</div>

			<div class="mp-flip-container">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vert-offset-top-1 vert-offset-bottom-12">
					<figure class="mp-flipper">
						<img src="images/assets/logo/map_640.png" class="center-block mp-flip-front img-responsive" alt="Map">
						<figcaption class="mp-flip-back mp-white-font text-center">Où va-t-on ?</figcaption>
					</figure>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vert-offset-top-1 vert-offset-bottom-12">
					<figure class="mp-flipper">
						<img src="images/assets/logo/plane_640.png" class="center-block mp-flip-front img-responsive" alt="Plane">
						<figcaption class="mp-flip-back mp-white-font text-center">En voiture Monique !</figcaption>
					</figure>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vert-offset-top-1 vert-offset-bottom-12">
					<figure class="mp-flipper">
						<img src="images/assets/logo/tajmahal_640.png" class="center-block mp-flip-front img-responsive" alt="Taj Mahal">
						<figcaption class="mp-flip-back mp-white-font text-center">The place to be !</figcaption>
					</figure>
				</div>
			</div>

		</div>
	</div>

	<div id="realisation" class="mp-home-realisation fluid-container mp-section">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vert-offset-bottom-4">
				<div class="mp-block-text text-center block-center">
					<h3 class="invisible">Raconter son voyage</h3>
					<span class="h3">... Réveillons le !</span>
					<p class="vert-offset-top-2">
						Toi aussi, raconte ton voyage, ton trip, ton excursion, ta promenade !
					</p>
					<p>
						Que ça soit la Grande Muraille de Chine, la commune de Reignac-sur-Indre, un petit coin de nature, un parc de ta ville ... il faut partager !
					</p>
					<p class="h4 vert-offset-top-2">
						Les critères d'un bon voyage ?
					</p>
					
				</div>
			</div>
		</div>
	</div>

	<div id="criteria" class="mp-home-criteria fluid-container mp-section">
		<div class="row">
			<div class="col-xs-12 col-sm- col-md-12 col-lg-12 vert-offset-bottom-4 vert-offset-top-4">
				<div class="mp-home-criteria-images ol-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vert-offset-top-1 vert-offset-bottom-1">
							<figure>
								<img src="images/assets/logo/criteria-time.png" class="center-block img-responsive" alt="Map">
								<figcaption class="mp-white-font text-center">Du temps pour en profiter</figcaption>
							</figure>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vert-offset-top-1 vert-offset-bottom-1">
							<figure>
								<img src="images/assets/logo/criteria-money.png" class="center-block img-responsive" alt="Plane">
								<figcaption class="mp-white-font text-center">Un coût minimal pour avoir l'esprit léger</figcaption>
							</figure>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vert-offset-top-1 vert-offset-bottom-1">
							<figure>
								<img src="images/assets/logo/criteria-info.png" class="center-block img-responsive" alt="Taj Mahal">
								<figcaption class="mp-white-font text-center">Connaître les bons plans</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="register" class="mp-home-register mp-section fluid-container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="text-center">
					<h3>Rejoignez la communautez !</h3>
				</div>
				<figure>
					<img src="images/assets/carousel/camera-514992_1920.jpg" class="img-responsive mp-home-first-image" alt="Image">
					<figcaption class="mp-image-license-white">
						<a href="http://pixabay.com/fr/service/terms/#download_terms" title="ToS">Pixabay - Licence: CC0 Public Domain </a>
					</figcaption>
				</figure>

				<div class="mp-home-register-action center-block">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<a href="/#/register" role="button" type="button" class="mp-home-register-button btn btn-info mp-blue1 btn-lg">Inscription</a>

							<a href="/#/connexion" role="button" type="button" class="mp-home-register-button btn btn-info mp-blue3 mp-black-font btn-lg">Connexion</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vert-offset-top-6">
						<div class="btn-group btn-group-justified">
							<a href="/#/voyages/" role="button" type="button" class="btn btn-info btn-lg">Voir la Galerie</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		


	<div id="mp-home-quote" class="mp-home-quote fluid-container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<blockquote>
							<p>« Le bonheur n'est pas une destination, mais une façon de voyager.  »
							</p>
							<footer>
								<cite><a href="http://evene.lefigaro.fr/citation/bonheur-destination-facon-voyager-21854.php" title="de Margaret Lee Runbeck">Margaret Lee Runbeck</a></cite>
							</footer>
						</blockquote>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<blockquote class="pull-right">
							<p>« Le véritable voyage ne consiste pas à chercher de nouveaux paysage, mais d'avoir de nouveaux yeux.  »
							</p>
							<footer>
								<cite><a href="http://www.linternaute.com/voyage/magazine/les-meilleures-citations-de-voyage/marcel-proust.shtml" title="de Marcel Proust">Marcel Proust</a></cite>
							</footer>
						</blockquote>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<blockquote>
							<p>« Il est bon de voyager quelques fois; cela étend les idées et rabat l’amour-propre.  »
							</p>
							<footer>
								<cite><a href="http://www.instinct-voyageur.fr/citations-de-voyage/" title="de Sainte-Beuve">Sainte-Beuve</a></cite>
							</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

