

<div ng-include="'views/partials/carousel.html'"></div>

<div id="concept" class="mp-home-concept mp-section fluid-container" data-scroll-index="0">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="mp-block-text vert-offset-top-4 vert-offset-bottom-4 text-center block-center">
				<h3 class="invisible">Voyager et raconter</h3>
				<span class="h3">Un voyageur dort en nous ...</span>
				<p class="vert-offset-top-2">
					<strong>Marco Polo</strong> était un marchand Vénitien, qui a rapporté dans son <em>Livre des Merveilles</em>,
					l'histoire de son périple en Asie.
					Chacun de nous est un <strong>Marco Polo</strong>, il suffit de raconter son voyage.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="mp-home-icon-container fluid-container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vert-offset-bottom-2 block-center text-center">
			<h3 class="invisible">Créer son voyage</h3>
			<span class="h3 mp-white-font ">Le secret : 3 ingrédients !</span>
		</div>

		<div class="mp-flip-container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 vert-offset-top-1 vert-offset-bottom-1">
				<figure class="mp-flipper flipper-inside">
					<img src="images/assets/logo/map_640.png" class="front img-responsive" alt="Map">
					<figcaption class="back"></figcaption>
				</figure>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 vert-offset-top-1 vert-offset-bottom-1">
				<figure class="mp-flipper flipper-inside">
					<img src="images/assets/logo/plane_640.png" class="front img-responsive" alt="Plane">
					<figcaption class="back"></figcaption>
				</figure>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 vert-offset-top-1 vert-offset-bottom-1">
				<figure class="mp-flipper flipper-inside">
					<img src="images/assets/logo/tajmahal_640.png" class="front img-responsive" alt="Taj Mahal">
					<figcaption class="back"></figcaption>
				</figure>
			</div>
		</div>

	</div>
</div>

<div id="realisation" class="mp-home-realisation fluid-container mp-section" data-scroll-index="1">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vert-offset-bottom-4">
			<div class="mp-block-text text-center block-center">
				<h3 class="invisible">Raconter son voyage</h3>
				<span class="h3">... Réveillons le !</span>
				<p class="vert-offset-top-2">
					Toi aussi, raconte ton voyage, ton trip, ton excursion, ta promenade !
				</p>
				<p>
					Que ça soit la Grande Muraille de Chine, la commune de Reignac-sur-Indre, un petit coin de nature, un parc de ta ville ... il faut partager !
				</p>
				<p>
					Les critères d'un bon voyage ?
					<span class="glyphicon glyphicon-time"></span>
					<span class="glyphicon glyphicon-euro"></span>
					<span class="glyphicon glyphicon-eye-open"></span>
				</p>
				
			</div>
		</div>
	</div>
</div>

<div id="register" class="mp-home-register mp-section fluid-container" data-scroll-index="2">
	<div class="row">
		<figure>
			<img src="images/assets/gallery/camera-514992_1920.jpg" class="img-responsive mp-home-first-image" alt="Image">
			<figcaption class="mp-image-license-white">
				<a href="http://pixabay.com/fr/service/terms/#download_terms" title="ToS">Pixabay - Licence: CC0 Public Domain </a>
			</figcaption>
		</figure>

		<div class="mp-home-action">
			<h4>Rejoignez la communauté</h4>
			

			<div class="btn-group">
				<a href="/#/users/register" role="button" type="button" class="mp-home-register-button btn btn-info mp-blue1 btn-lg">Inscription</a>
				<a href="/#/voyages/" role="button" type="button" class="btn btn-info mp-blue1">Visitez la galerie des voyages</a>
			</div>
		</div>

	</div>
</div>		


<div id="mp-home-quote" class="fluid-container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<blockquote>
				<p>« Le bonheur n'est pas une destination, mais une façon de voyager.  »
				</p>
				<footer>
					<cite><a href="http://evene.lefigaro.fr/citation/bonheur-destination-facon-voyager-21854.php" title="de Margaret Lee Runbeck">Margaret Lee Runbeck</a></cite>
				</footer>
			</blockquote>
		</div>
	</div>
</div>



